.container {
    padding: 10px;
}

.friendAvatar {
    width: 100%;
}

.friendName {
    font-size: 20px;
}

.isOnline {
    font-size: 18px;
    color: green;
}

.isOffline {
    font-size: 18px;
    color: red;
}